.back{ 
    padding: 15px;
    background-color: rgb(222, 217, 217);

   
}
*{
    box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
    
}

nav {
	position: sticky;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 4%;
	height: 63px;
	background-color: #0a0b0e;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav .links li:hover{
    background-color: gray;
    width: 100px;

}

nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}
.down{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
	padding: 25px;
	background-color: #030303;

}
.social{
	text-align: center;
	padding: 25px;
	/* justify-content: space-between; */
	color: #fff;

}
.social a{
	font-size: 25px;
	color: inherit;
	border: 1px solid white;
	width: 40px;
	height: 40px;
	line-height: 38px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	margin: 0 8px;
	opacity: 0.75;
}
.social a:hover{
	opacity: 1.3;

}
.footer ul{
	margin-top: 0;
	padding: 0;
	list-style: none;
	line-height: 2.6;
	margin-bottom: 0 ;
}
.footer ul a{
	color: inherit;
	text-decoration: none;
	opacity: 0.8;
}
.footer ul li{
	/* display: inline-block; */
	/* padding: 0 15px; */
	color:gray;
	font-size: large;
	text-align: center;

}
.footer ul li a:hover{
	opacity: 2.3;
	/* background-color: ; */
	width: 100%;

}
.footer p{
	text-align: center;
	color:gray;
}


